<script>
  window.spot_url = "<%= spot_path(@spot) %>"
</script>
<div id="container">
  <div class="section top">
    <span class="placeholder">ROGR CAM1</span>  
  </div>
  
  <div class="section top">
    <span class="placeholder">ROGR CAM2</span>  
  </div>
    
  <div id="spot-panel-camera" class="section top last spot-panel">
    <span class="placeholder">SPOT CAM</span>   
  </div>
  
  <div id="spot-panel-setpoints" class="section top last spot-panel" style="display:none;">
    <h2><%= @spot.name %> Configuration</h2>
    <%= form_for @spot, remote: true do |f| %>
      <div class="header">Information</div>
      <table class="spot-info-table">
        <tbody>
          <tr>
            <td class="label"><%= f.label :name %></td>
            <td><%= f.text_field :name %></td>
            <td class="label" style="padding-left:50px;"><%= f.label :started_on %></td>
            <td><%= f.date_field :started_on %></td>
          </tr>
          <tr>
            <td class="label"><%= f.label :key %></td>
            <td><%= f.text_field :key %></td>
            <td class="label" style="padding-left:50px;"><%= f.label :planted_with %></td>
            <td><%= f.text_field :planted_with %></td>
          </tr>
          <tr>
            <td class="label"><%= f.label :note %></td>
            <td colspan="3"><%= f.text_area :note, style: 'width:99%;' %></td>
          </tr>
        </tbody>
      </table>

      <br />
      
      <div style="width:285px;float:left;overflow:hidden;">
        <div class="header">Setpoints</div>
        <table>
        <thead>
          <th></th>
          <th class="label">Low</th>
          <th class="label">High</th>
        </thead>
        <tbody>
          <tr>
            <td class="label"><%= f.label :set_air_temp_low, "Air Temp" %></td>
            <td><%= f.text_field :set_air_temp_low %></td>
            <td><%= f.text_field :set_air_temp_high %></td>
            <td>&deg;C</td>
          </tr>
          <tr>
            <td class="label"><%= f.label :set_water_temp_low, "Water Temp" %></td>
            <td><%= f.text_field :set_water_temp_low %></td>
            <td><%= f.text_field :set_water_temp_high %></td>
            <td>&deg;C</td>
          </tr>
          <tr>
            <td class="label"><%= f.label :set_rh_low, "R.H." %></td>
            <td><%= f.text_field :set_rh_low %></td>
            <td><%= f.text_field :set_rh_high %></td>
            <td>%</td>
          </tr>
          <tr>
            <td class="label"><%= f.label :set_ec_low, "E.C." %></td>
            <td><%= f.text_field :set_ec_low %></td>
            <td><%= f.text_field :set_ec_high %></td>
            <td>mS/cm2</td>
          </tr>
          <tr>
            <td class="label"><%= f.label :set_ph_low, "pH" %></td>
            <td><%= f.text_field :set_ph_low %></td>
            <td><%= f.text_field :set_ph_high %></td>
            <td></td>
          </tr>
          <tr>
            <td class="label"><%= f.label :set_co2_low, "CO2" %></td>
            <td><%= f.text_field :set_co2_low %></td>
            <td><%= f.text_field :set_co2_high %></td>
            <td>ppm</td>
          </tr>
          <tr>
            <td class="label"><%= f.label :set_do_low, "D.O." %></td>
            <td><%= f.text_field :set_do_low %></td>
            <td><%= f.text_field :set_do_high %></td>
            <td>ppm</td>
          </tr>
        </tbody>
        </table>
      </div>
      
      <div style="width:285px;float:left;margin-left: 20px;overflow:hidden;">
        <div class="header">Schedules</div>
        <table>
        <thead>
          <th></th>
          <th class="label">On</th>
          <th class="label">Off</th>
        </thead>
        <tbody>
          <tr>
            <td class="label"><%= f.label :white_light_on, "White Lights" %></td>
            <td><%= f.text_field :white_light_on, value: @spot.white_light_on, class: 'timepicker' %></td>
            <td><%= f.text_field :white_light_off, value: @spot.white_light_off, class: 'timepicker' %></td>
          </tr>
          <tr>
            <td class="label"><%= f.label :red_light_on, "Red Lights" %></td>
            <td><%= f.text_field :red_light_on, value: @spot.red_light_on, class: 'timepicker' %></td>
            <td><%= f.text_field :red_light_off, value: @spot.red_light_off, class: 'timepicker' %></td>
          </tr>
        </tbody>
        </table>
      </div>

      <div style="clear:both;"></div>
      <br /> 
      <%= f.submit "Save", class: 'btn btn-primary' %>&nbsp;
      <span id="spot-saved" style="display:none;">Saved</span>
    <% end %>
  </div>
  
  <div class="section-double bottom" style="position:relative;">
    <h2 class="rogr-title">ROGR</h2>
    <div class="rogr"></div> 
   
    <div class="rogr-data-h2o">
      <h3>H2O Level</h3>
      <span>75%</span> 
    </div>

    <div class="rogr-data-nutrients">
      <h3>Nutrient Level</h3>
      <span>56%</span> 
    </div>

    <div class="rogr-data-battery">
      <h3>Battery Charge</h3>
      <span>62%</span> 
    </div>
 
    <div class="rogr-status">
      
      <div class="rogr-location">
        <div class="header">Location</div>
        <table>
          <tr>
            <td class="active">On Dock</td>
            <td class="inactive">Off Dock</td>
          </tr>
        </table>
      </div>
  
      <div class="rogr-water-tank">
        <div class="header">Fresh Water</div>
        <table>
          <tr>
            <td class="label">Water Pump</td>
            <td><button id="rogr-pump-off">Off</button></td>
            <td><button id="rogr-pump-on">On</button></td>
          </tr>
        </table>
      </div>
 
      <div class="rogr-nutrient-tank">
        <div class="header">Nutrients</div>
        <table>
          <tr>
            <td class="label">Nutrient Pump</td>
            <td><button id="rogr-nutirent-pump-off">Off</button></td>
            <td><button id="rogr-nutrient-pump-on">On</button></td>
          </tr>
        </table>
      </div>
 
    </div> 
  
    <div style="width:100%;margin:0 auto;">
      <table class="rogr-motion-control">
        <tr>
          <td colspan="3" style="padding-bottom:20px;"><div class="header">Drive</div></td>
          <td></td>
          <td style="padding-bottom:20px;"><div class="header">Lift</div></td>
          <td colspan="2" style="padding:0 0 20px 25px;"><div class="header">Arm</div></td>
        <tr>
          <td><button><i class="fa fa-arrow-up rotate-45-left"></i></button></td>
          <td><button><i class="fa fa-arrow-up"></i></button></td>
          <td><button><i class="fa fa-arrow-up rotate-45-right"></i></button></td>
          <td style="width:40px;"></td>
          <td><button><i class="fa fa-arrow-up"></i></button></td>
          <td class="label">Shoulder</td>
          <td><div class="slider"></div></td>
        </tr>
        <tr>
          <td><button><i class="fa fa-arrow-left"></i></button></td>
          <td></td>
          <td><button><i class="fa fa-arrow-right"></i></button></td>
          <td></td>
          <td style="text-align: center;"></td>
          <td class="label">Elbow 1</td>
          <td><div class="slider"></div></td>
        </tr>
        <tr>
          <td><button><i class="fa fa-arrow-down rotate-45-right"></i></button></td>
          <td><button><i class="fa fa-arrow-down"></i></button></td>
          <td><button><i class="fa fa-arrow-down rotate-45-left"></i></button></td>
          <td></td>
          <td><button><i class="fa fa-arrow-down"></i></button></td>
          <td class="label">Elbow 2</td>
          <td><div class="slider"></div></td>
        </tr>
        <tr>
          <td><button><i class="fa fa-rotate-left rotate-45-right"></i></button></td>
          <td></td>
          <td><button><i class="fa fa-rotate-right rotate-45-left"></i></button></td>
          <td></td>
          <td></td>
          <td class="label">Wrist</td>
          <td><div class="slider"></div></td>
        </tr>
        <tr>
          <td colspan="5"></td>
          <td class="label">Gripper</td>
          <td style="padding-left:20px;">
            <button class="gripper"><i class="fa fa-circle-o"></i>Close</button>
            <button class="gripper" style="margin-left:20px;"><i class="fa fa-circle-o-notch"></i>Open</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div id="spot-panel-setpoints" class="section bottom last spot-panel" style="display:none;">

  </div>

  <div id="spot-panel-status" class="section bottom last spot-panel">
    <%= sync partial: 'overview', resource: @spot %>
  </div>
  
  <div id="spot-links">
    <a id="spot-1-camera" data-panel="camera" class="active" href="#">Camera</a>
    <a id="spot-1-setpoints" data-panel="setpoints" href="#">Configure</a>
    <a id="spot-1-charts" data-panel="setpoints" href="#">Historical Data</a>
  </div>

</div>
